certifi==2018.10.15
DateTime==4.3
geographiclib==1.49
geopy==1.17.0
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.3
pandas==0.23.4
python-dateutil==2.7.5
pytz==2018.7
scipy==1.1.0
Shapely==1.6.4.post1
six==1.11.0
wincertstore==0.2
xgboost==0.80
zope.interface==4.6.0
